<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>example.freemarker.FreemarkerLoggingInitialiser</listener-class>
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>notabs</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>oktabs-session</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>oktabs-nosession</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>oktabs-restful</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>freemarker</servlet-name>
        <servlet-class>example.freemarker.CustomFreemarkerServlet</servlet-class>
        <init-param>
            <param-name>ContentType</param-name>
            <param-value>text/html;charset=UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>notabs</servlet-name>
        <url-pattern>/notabs/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>oktabs-session</servlet-name>
        <url-pattern>/oktabs-session/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>oktabs-nosession</servlet-name>
        <url-pattern>/oktabs-nosession/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>oktabs-restful</servlet-name>
        <url-pattern>/oktabs-restful/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>freemarker</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.ftl</welcome-file>
    </welcome-file-list>

</web-app>
